mat-toolbar-row {
    justify-content: space-between;
}

span {
    padding-right: 1rem;
}

.navbar {
    display: flex;
    margin-right: 40px;
}

.nav-items {
    margin-right: 7%;
}

.cart-icon {
    margin-top: 6px;
}

.cart {
    cursor: pointer;
}