<header>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Dairing</span>
        <div class="navbar">
          <div class="nav-items">
            <a mat-button routerLink="/" routerLinkActive="active">Home</a>
            <a mat-button routerLink="/products" routerLinkActive="active">Products</a>
            <a mat-button routerLink="/login" routerLinkActive="active">Login</a>
          </div>
          <div class="cart-icon">
            <mat-icon [matBadge]="cartItem" matBadgeColor="accent" routerLink="/cart" routerLinkActive="active" class="cart">shopping_cart</mat-icon>
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </header>
  