.cart_section {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content {
    text-align: center;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  background-color: rgb(255, 255, 255);
  padding: 10px;
}

.items-row{
  background-color: rgb(255, 255, 255);
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

td .price {
    align-items: center;
    text-align: center;
}

.delete {
  margin-top: 20px;
}

td{
  text-align: center;
  width: 20%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  .price {
    text-align: center;
  }
  
  td, th {
    border: 1px solid #dddddd;
    /* text-align: left; */
    padding: 8px;
  }

  .product-name {
    margin: 10px 0 10px 0;
  }
  
  .total {
    margin: 20px;
    background-color: rgb(222, 243, 243);
    width: 10%;
    padding: 5px;
    text-align: center;
  }

  .total h3 {
    margin: 5px;
  }

  Button {
    margin: 10px 20px;
    width: 40px;
    background-color: rgb(247, 247, 247);
    padding: 10px;
    font-weight: 900;
  }

  Button:hover {
    background-color: rgb(238, 238, 236);
  }

  .remove {
    margin: 10px 20px;
    width: 10%;
    background-color: rgb(247, 247, 247);
    padding: 10px;
    font-weight: 900;
  }