<section class="cart_section">
    <div class="container">
        <h2 class="title">My Cart</h2>
        <div *ngIf="getCartDetails">
            <table>
                <tr class="items-row">
                    <th>Product</th>

                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Delete Item</th>
                    <th>Sub Total</th>
                </tr>
                <tr *ngFor="let getCartDetail of getCartDetails">
                    <td><img src="{{getCartDetail.img}}" alt="milk" width="200px" height="200px">
                        <h3 class="product-name">{{getCartDetail.name}}</h3>
                    </td>
                    <td class="price">₹ {{getCartDetail.amt}}</td>
                    <td>
                        <div class="content">
                            <button type="button" class="btn"
                                (click)="increaseQnt(getCartDetail.productId, getCartDetail.quantity)"><i
                                    class="fa fa-plus"></i></button>
                            <span>{{getCartDetail.quantity}}</span>
                            <button type="button" class="btn"
                                (click)="decreaseQnt(getCartDetail.productId, getCartDetail.quantity)"><i
                                    class="fa fa-minus"></i></button>
                        </div>
                        
                    </td>
                    <td>
                        <button type="button" class="delete" (click)="singleDelete(getCartDetail.productId)"><i
                            class="fa fa-trash"></i></button>
                    </td>
                    <td>
                        <h2>₹ {{getCartDetail.quantity * getCartDetail.amt | number}}</h2>
                    </td>
                </tr>
            </table>
            <div class="total">
                <h3>Total - ₹ {{total}}</h3>
            </div>

            <div class="remove-all">
                <Button (click)="removeAll()" class="remove">Empty Cart</Button>
            </div>
        </div>
    </div>
</section>