*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.product-container {
    margin:40px;
}

.product-card {
    /* max-width: 320px; */
    width: 250px;
    height: 400px;
    text-align: center;
    background-color: rgb(255, 255, 255);

}
.mat-card-image  {
    margin-top: 10px;
    width: 200px;
    height: 200px;
}

.btn {
    background-color: rgb(202, 233, 233);
}

span {
    margin: 0px 20px 0px 20px;
}

.cart-btn {
    background-color: rgb(245, 252, 255);
    width: 60%;
}