<mat-grid-list cols="3" rowHeight="600px">
    <mat-grid-tile *ngFor="let products of productArray">
        <div class="product-container">
            <mat-card class="product-card">
                <div class="product-content">
                    <img mat-card-image src="{{products.img}}" alt="Photo of a Shiba Inu" width="100px" height="100px"
                        class="image">
                    <mat-card-content>
                        <mat-card-title class="product-details">{{products.name}}</mat-card-title>
                        <mat-card-subtitle class="product-details">Price: {{products.amt}}</mat-card-subtitle>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button type="button" class="btn" (click)="increase(products)">+</button>
                        <span>{{products.quantity}}</span>
                        <button mat-button type="button" class="btn" (click)="decrease(products)">-</button>
                    </mat-card-actions>
                    <mat-card-actions>
                        <button mat-button color="primary" type="button" class="cart-btn"
                            (click)="addCart(products)">Add To Cart</button>
                    </mat-card-actions>
                </div>
            </mat-card>
        </div>
    </mat-grid-tile>
</mat-grid-list>